<?php

define('HOST','localhost');
define('USER','root');
define('PASS','12345678');
define('DATA','codecube');

$sql = mysql_connect(HOST,USER,PASS);
mysql_select_db(DATA,$sql);
mysql_query("SET NAMES UTF8");

date_default_timezone_set('Asia/Bangkok');

?>